#main{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    word-spacing: 15px;
   
    
}

.fa {
    margin-top: 20px;

   

  }

  select {
      width: 90px;
      height: 48px;
  }

  option {
    width: 90px;
    height: 48px;
  }